.header {
    background-color: black;
    color: #fff;
    padding: 1rem 0; 
    display: flex;
    width: 100%;
    height: 9vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .header-container {
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0 20px;
  }
  
  .header-title {
    font-size: 1.5rem; 
    margin: 0; 
  }
  
  .header-nav {
    text-align: right; 
  }
  
  .header-nav-list {
    list-style: none; 
    padding: 0; 
    margin: 0;
  }
  
  .header-nav-item {
    display: inline; 
    margin-left: 20px;
  }
  
  .header-nav-item a {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold;
    transition: color 0.3s ease; 
  }
  
  .header-nav-item a:hover {
    color: #ff4500; 
  }
  