:root{
    padding-bottom:60px;
}
body, html, #app { 
    font-family: 'Vazir', sans-serif;
    padding: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    height: 100%
  }
  
  .app {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  

* {
    box-sizing: border-box;
    
  }
  
