

.signup-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .signup-panel {
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .panel-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin: 10px 0;
    width: 100%;
  }
  
  label {
    font-size: 18px;
    color: #333;
  }
  
  input {
    width: 100%; /* Set the width of the input elements to 100% */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  .form-actions {
    margin-top: 20px;
  }
  
  button {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
  }
  